FIREBASE_API_KEY=AIzaSyCWHtTh9QMhRQe0icbfNfOM5VrZWyAWMtM
FIREBASE_AUTH_DOMAIN=agendaappandroid.firebaseapp.com
FIREBASE_PROJECT_ID=agendaappandroid
FIREBASE_STORAGE_BUCKET=agendaappandroid.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=863621057065
FIREBASE_APP_ID=1:863621057065:web:8071f383b2b4bb174faa38

# Google Auth Client IDs
GOOGLE_EXPO_CLIENT_ID=TU_CLIENT_ID_EXPO
GOOGLE_IOS_CLIENT_ID=TU_CLIENT_ID_IOS
GOOGLE_ANDROID_CLIENT_ID=TU_CLIENT_ID_ANDROID
GOOGLE_WEB_CLIENT_ID=TU_CLIENT_ID_WEB
